### NPM
# Awesome Script Loader
.awcache/
# Log
/npm-debug.log*
# Node Modules
node_modules/
# Build Directory
build/

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml
## Directory-based project format:
.idea/
## File-based project format:
*.ipr
*.iws

*.tgz